
{% load product_app_tags %}

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
 <body>
    
    
    
    
    
    
    
    
    
    
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        
                        
                        <!----------- Header ------------------------------------------------------------------>
                        <tr>
                            <td align="center" bgcolor="#ffd777" style="padding: 20px 0 10px 0;">
                                <h1>My Travel Shop</h1>
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                        <!----------- Body ------------------------------------------------------------------>
                        <tr>
                             <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    
                                    <!----------- Title ------------------------------------------------------------------>
                                    <tr>
                                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                            <b>My Travel Shop Purchase Confirmation</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 20px 0 30px 0;">
                                         <h1>
                                             Thank you, {{ purchaseHistory.fullName|title }} for your purchase of {{ purchaseHistory.quantityTickets }} ticket{{ purchaseHistory.quantityTickets|pluralize }} for the "{{ purchaseHistory.name }}" package in the amount of
                                             ${{ purchaseHistory.price|totalPrice:purchaseHistory.quantityTickets }}.
                                         </h1>
                                         <h3>Please retain your confirmation code of {{ purchaseHistory.confirmation_code }} for future inquires.</h3>
                                         <p></p>
                                         
                                        </td>
                                    </tr>
                                    <!---------------------------------------------------------------------------->
                                    
                                    
                                    <!----------- 1 Column ------------------------------------------------------------------>
                                    <tr>
                                        <td>
                                         
                                         <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                             <td width="260" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                               <tr>
                                                <td style="padding: 50px 0 0 0;">
                                                    <h3>Robert Boyett</h3>
                                                    <h4>My Travel Shop Inc.</h4>
                                                </td>
                                               </tr>
                                              </table>
                                             </td>
                                            </tr>
                                        </table>
                                         
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                        <!----------- Footer ------------------------------------------------------------------>
                        <tr>
                            <td bgcolor="#ffd777" style="padding: 30px 30px 30px 30px;color:#424a5d;">
                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="color: #424a5d; font-family: Arial, sans-serif; font-size: 14px;">
                                            &reg; Webmaster, My Travel Shop Inc. 2015<br/>
                                        </td>
                                        <td align="right" style="color: #424a5d;">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                             <tr>
                                              <td>
                                               <a href="https://plus.google.com/" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/googlebtn.png" alt="Google" width="40" height="40" style="display: block;" border="0" />
                                               </a>
                                              </td>
                                              <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                              <td>
                                               <a href="https://twitter.com/" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/twitterBtn.png" alt="Twitter" width="40" height="40" style="display: block;" border="0" />
                                                
                                               </a>
                                              </td>
                                              <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                              <td>
                                               <a href="https://www.facebook.com/" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/facebookBtn.png" alt="Pinterest" width="40" height="40" style="display: block;" border="0" />
                                                
                                               </a>
                                              </td>
                                             </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                    </table>
                </td>
            </tr>
        </table>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>