{% extends "base.html" %}
{% load staticfiles %}
{% load product_app_tags %}

{% block extraHead %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap-table.css" %}">
{%endblock%}

{% block body %}
    
    {% if products %}
            <div class="row" style="margin:-25px 0 10px 0;">
                <div class="col-xs-12">
                    <button id="listBtn" class="btn btn-default tip" data-toggle="tooltip" data-placement="bottom" title="list and search view"><i class="fa fa-list"></i></button>
                    <button id="gridBtn" class="btn btn-default tip" data-toggle="tooltip" data-placement="bottom" title="grid view"><i class="fa fa-th"></i></button>
                </div>
            </div>
            <div class="col-md-9">
                
		  <ul id="gridView" class="grid list-unstyled text-center">
		    {% for product in products %}
                    
                    <li class="grid-item col-sm-4">
                        <a href="{% url "detail" productID=product.id %}">
                            <div class="thumbnail">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-12">
                                        <div class="savingstileimage">
                                            {% random_number as imageNumber %}
                                          <img width="100%" src="/static/img/products/{{ imageNumber }}.jpg" alt="4-Day Magic Your Way - plus extra day free">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-12">
                                      <div class="">
                                        <span>{{ product.name|title }}</span>
                                        save up to
                                        <span class="savings">
                                          <sup>$</sup>13
                                        </span>
                                        <span class="smalltext">vs gate price (Adult)</span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    
                    
                    
                    
                    
                {% endfor %}
                
                
                
                
                
		  </ul>
                
                <div id="listView" class="list-view" style="display: none;">
                    <table class="table list-view" data-toggle="table" data-search="true" data-pagination="true" data-sort-name="package" data-sort-order="asc">
                        <thead>
                            <tr>
                              <th data-field="package" data-sortable="true">package</th>
                              <th data-field="description">description</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr class="">
                                  <td><a href="{% url "detail" productID=product.id %}">{{ product.name }}</a></td>
                                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed ex.</td>
                                  <td>
                                        <a href="{% url "detail" productID=product.id %}" class="btn btn-small btn-primary pull-right"><i class="fa fa-search-plus"></i></a>
                                  </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="col-xs-12" id="sidebar">
                    <h3>Special Offer</h3>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nobis explicabo deserunt aut culpa qui! Ab laboriosam suscipit doloribus architecto veritatis eligendi blanditiis placeat beatae omnis modi vitae hic illo accusamus consequuntur aperiam quam consectetur harum dolores impedit minus alias nemo inventore iure perspiciatis aut ipsum odio fugiat. Quasi rem iure sunt. Excepturi eum nobis culpa voluptatem dolores exercitationem modi illum corrupti sapiente unde explicabo quod dolorem quo deleniti eius dignissimos consectetur qui nulla! Maxime modi tenetur optio explicabo aliquid fugiat deserunt ut a at sequi numquam deleniti vel amet accusamus dolor quasi ipsa sapiente magni reiciendis excepturi nesciunt quibusdam.
                </div><!--/left-->
            </div>
        
    {% else %}
        <div class="col-xs-12">
            <h2>I'm sorry, there are no products available at this time.</h2>
        </div>
    {% endif %}
    
            <div class="col-xs-12">
                <hr>
                <!-- Pager -->
                <ul class="pager">
                </ul>
            </div>
{% endblock %}


{% block extraScript %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static "js/bootstrap-table.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}



