{% extends "base.html" %}
{% load staticfiles %}
{% load product_app_tags %}


{% block extraHead %}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
{%endblock%}

{% block body %}
    

    {% if product %}
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 well">
        <div class="text-center">
            {% if product.inventory_on_hand > 0 %}
                <h1>{{ product.name }}</h1>
                <h2 class="text-info">$<span id="currentPrice">{{ product.price }}</span> per<span id="quantityTickets"></span> ticket<span id="plural"></span>.</h2>
                <h5>There are <span id="ticketsLeft">{{ product.inventory_on_hand }}</span> <span id="pluralizeTicket">ticket{{ product.inventory_on_hand|pluralize }}</span> available.</h5>
                <p></p>
        </div>
        <div class="">
                {% if form %}
                    <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary pull-right" type="submit">submit</button>
                    <a href="{% url "index" %}" class="btn btn-default pull-right" type="submit" style="margin-right: 5px;">cancel</a>
                    </form>
                {% endif %}
            {% else %}
                <p>Oh snap, this is so embarrassing, we seem to be out of this product.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block extraScript %}
    <script src="{% static "js/jquery.mask.min.js" %}"></script>
    <script>
        var maxQuantity = parseInt({{ product.inventory_on_hand }});
        $("#id_quantity").attr('max',maxQuantity);
    </script>
    <script src="{% static "js/purchase.js" %}"></script>
{% endblock %}
            
            
            