{% extends "google_login/google_base.html" %}
{% load staticfiles %}

    
		
{% block body %}
		      <form id="reset-forgot-password-form" class="form-login" action="{% url "google_login.views.passwordReset" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		        <h2 class="form-login-heading">reset password</h2>
		        <div class="login-wrap">
                            <input type="hidden" name="forgotID" value="{{ forgotID }}">
                            <input class="form-control" type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" required email="true" autofocus>
		            <br>
		            <input class="form-control" id="password1" type="password" name="password1" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="password...">
		            <br>
		            <input id="password2" class="form-control" type="password" name="password2" required noSpace="true" value="" placeholder="confirm...">
		            <hr>
		            <button class="btn btn-theme btn-block" type="submit" form="reset-forgot-password-form"><i class="fa fa-lock"></i> Submit</button>
		        </div>
		      </form>

{% endblock %}


    {% block extraScript %}
    <script src="{% static "google_login/js/login.js" %}"></script>
    {% endblock %}